
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div id="profile-picture">
	            <%= image_tag @profile.pic, class: 'img-responsive img-thumbnail' %>
	            <p class="sidebar-email">
					<%= @profile.user.email %>
				</p>
			</div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">News Feed</div>

				  <!-- Table -->
				  <table class="table">
				      <ul class="list-group">
				      	<% @tweets.each do |tweet| %>
					    	<li class="list-group-item">
					    		<h6>
					    			<%= tweet.user.email %>
					    		</h6>	
					    		<h3>
					    			<%= tweet.tweet %>
					    		</h3>
					    	</li>
					    <% end %>
					  </ul>
				  </table>
				</div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->



    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>


